header {
    background-color: rgb(126, 217, 87);
    height: 75px;
    border-radius: 10px;
    font-size: 42px;
    line-height: 10px;
    padding: 5px 15px;
}
body {
    background-color: rgb(238, 228, 204);
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.logo {
    width: 200px;
    height: auto;
    margin-top: 20px;
    margin-left: 0;
}
.logo-video {
    width: 300px;
    height: auto;
    margin-top: 20px;
}
nav a {
    text-decoration: none;
    padding: 5px;
    color: rgb(108, 91, 66);
}
nav {
    text-align: right;
    color: rgb(108, 91, 66);
}
nav ul {
    list-style-type: none;
}
nav li {
    text-align: right;
    display: inline;
    text-decoration: none;
    color: rgb(184, 104, 64);
}
main {
    color: rgb(51, 102, 102);
}
main #heading {
    text-align: center;
    font-size: 24px;
    margin-top: 75px;
}
main #heading p {
    font-size: 36px;     
    margin-top: -15px;
    margin-left: -70px;   /*align w/ "New to Geocaching" */
}
main #summary {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 70px;
    font-size: 24px;
    padding: 0 100px;
    padding-top: 20px;
    line-height: 1.5;
}
#geocaches ul {
    margin-top: 75px;
    margin-left: 20%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 100px;
    width: 60%;
}
#geocaches li {
    border: 1px;
    border-style: solid;
    border-color: rgb(126, 217, 87);
    background-color: rgb(126, 217, 87);
    border-radius: 10px;
    list-style: none;
    text-align: center;
}
#geocaches p {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 200px;
    margin-top: 30px;
}
#geocaches li p strong {
    margin-top: -25px;         /* push text to border-background so it's readable */
    color: rgb(108, 91, 66);
    font-size: 20px;
}
#geocaches .start {
    position: absolute;
    bottom: 0;
    width: 50%;
    height: 25px;
    background-color: rgb(126, 217, 87);
    border-radius: 10px;
    margin-left: 25%;
}
#forest {
    background-image: url("forest.jpg");
    background-position: center;
}
#park {
    background-image: url("park.jpg"); 
     background-position: center;
}
#city {
    background-image: url("indy.jpg"); 
    background-position: center;  
}



#login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border: 3px;
    border-style: solid;
    border-color: rgb(126, 217, 87);
    background-color: white;
    border-radius: 75px;
    margin: 70px 600px;
    padding: 25px 0px;
}
label[for="login"] {
    color: rgb(126, 217, 87);
    font-size: 42px;
}
label[for="email"] {
    color: rgb(108, 91, 66);
    font-size: 20px;
}
label[for="password"] {
    color: rgb(108, 91, 66);
    font-size: 20px;
}
button[type="submit"] {
    background-color: rgb(126, 217, 87);
    border-radius: 10px;
    width: 25%;
}
button[type="button"] {
    background-color: rgb(126, 217, 87);
    border-radius: 10px;
    width: 40%;
    margin-top: -20px;
}
#new-account {
    padding-top: 30px;
    color: rgb(108, 91, 66);
}



@media (max-width: 600px) {
    /* fix for phone */
}
@media (max-width: 768px) {
    /* fix for tablet */
}
