header {
    background-color: rgb(126, 217, 87);
    height: 75px;
    border-radius: 10px;
    font-size: 42px;
    line-height: 10px;
    padding: 5px 15px;
}
body {
    background-color: rgb(238, 228, 204);
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.logo {
    width: 200px;
    height: auto;
    margin-left: 0;
}
.logo-video {
    width: 300px;
    height: auto;
    margin-top: 20px;
}
nav a {
    text-decoration: none;
    padding: 5px;
    color: rgb(108, 91, 66);
}
nav {
    text-align: right;
    color: rgb(108, 91, 66);
}
nav ul {
    list-style-type: none;
    white-space: nowrap;
}
nav li {
    text-align: right;
    display: inline;
    text-decoration: none;
    color: rgb(184, 104, 64);
}
main #heading {
    text-align: center;
    font-size: 24px;
    margin-top: 75px;
}
main #heading h2 {
    font-size: 36px;     
    margin-top: -15px;
    margin-left: -70px;    /*align w/ "New to Geocaching" */
}
main #summary h3 {
    font-size: 30px;
}
main #summary {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 70px;
    font-size: 24px;
    padding: 0 100px;
    padding-top: 20px;
    line-height: 1.5;
}


main {
    color: rgb(108, 91, 66);
    text-align: center;
    font-size: 20px;
}
#geocaches {
    margin-top: 50px;
}
#geocaches ul {
    margin-left: 15%;
    margin-right: 15%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 75px;
    max-width: 1500px;
}
#geocaches li {
    border: 1px;
    border-style: solid;
    border-color: rgb(126, 217, 87);
    background-color: rgb(126, 217, 87);
    border-radius: 10px;
    list-style: none;
    text-align: center;
}
#geocaches p {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 200px;
    margin-top: 30px;
}
#geocaches li p strong {
    margin-top: -25px;         /* push text to border-background so it's readable */
    color: rgb(108, 91, 66);
    font-size: 20px;
}
#geocaches .start {
    position: absolute;
    bottom: 0;
    width: 50%;
    height: 25px;
    background-color: rgb(126, 217, 87);
    border-radius: 10px;
    margin-left: 25%;
}
#forest {
    background-image: url("forest.jpg");
    background-position: center;
}
#park {
    background-image: url("park.jpg"); 
    background-position: center;
}
#city {
    background-image: url("indy.jpg"); 
    background-position: center;  
}


#login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border: 3px;
    border-style: solid;
    border-color: rgb(126, 217, 87);
    background-color: white;
    border-radius: 75px;
    margin: 70px auto; 
    max-width: 350px; 
    padding: 25px 0px;
}
#login-container h1 {
    color: rgb(108, 91, 66);
    font-size: 42px;
}
label[for="email"] {
    color: rgb(108, 91, 66);
    font-size: 20px;
}
label[for="password"] {
    color: rgb(108, 91, 66);
    font-size: 20px;
}
button[type="submit"] {
    background-color: rgb(126, 217, 87);
    border-radius: 10px;
    width: 25%;
}
button[type="button"] {
    background-color: rgb(126, 217, 87);
    border-radius: 10px;
    width: 40%;
    margin-top: -20px;
}
#new-account {
    padding-top: 30px;
    color: rgb(108, 91, 66);
}


@media (max-width: 1600px) {
    /* for desktop */
    main #heading {
        font-size: 20px;
        margin-top: 200px;
    }
    main #heading h2 {
        font-size: 30px;
    }
    main #summary h3 {
        font-size: 34px;
    }
    main #summary {
        gap: 25px;
        font-size: 24px;
        padding: 0 50px;
        padding-top: 75px;
    }
}

@media (max-width: 1290px) {
    /* for lg laptop */
    .logo {
        width: 150px;
        height: auto;
        margin-top: -14px;
    }
    .logo-video {
    margin-top: 0px;
    }
    #summary .navman {
        width: 150px;
        height: auto;
    }
    #summary .scouting {
        width: 150px;
        height: auto;
    }
    main #summary {
        font-size: 22px;
        padding: 0 25px;
        padding-top: 0px;
    }
    #geocaches ul {
        margin-top: 100px;
        margin-left: 5%;
        margin-right: 5%;
        gap: 50px;
    }
    #login-container {
    margin-top: 200px;
    padding: 25px 0px;
    }
}
@media (max-width: 992px) {
    /* for sm-med laptop */
    
    main #heading {
        font-size: 18px;
        margin-top: 150px;
    }
    main #heading h2 {
        font-size: 22px;
        margin-left: -25px;    /*align w/ "New to Geocaching" */
    }
    main #summary h3 {
        font-size: 28px;
        margin-top: 75px;
    }
    main #summary {
        font-size: 18px;
        padding: 0 5px;
    }
    #geocaches ul {
        margin-top: 100px;
    }
}
@media (max-width: 768px) {
    /* for tablet */
    .logo {
        width: 100px;
        height: auto;
    }
    header {
        height: 50px;
        font-size: 32px;
        padding: 5px 15px;
    }
    main #heading {
        font-size: 16px;
    }
    #summary .navman {
        width: 100px;
        height: auto;
    }
    #summary .scouting {
        width: 100px;
        height: auto;
    }
    #geocaches ul {
        margin-top: 50px;
        grid-template-columns: auto auto;
}
    main {
        font-size: 18px;
    }
    #geocaches li p strong {
        font-size: 18px;
    }
    #geocaches ul {
        gap: 50px;
    }
}
@media (max-width: 600px) {
    /* for phone */
    .logo {
        margin-top: 0px;
    }
    nav ul {
        margin-right: -15px;   /* pulls green border to right edge of screen */
    }
    header {
        font-size: 26px;
        padding: 5px 15px;
    }
    main #heading {
        margin-top: 100px;
        font-size: 12px;
    }
    main #heading h2 {
        font-size: 18px;
    }
    main #summary {
        font-size: 14px;
    }
    #geocaches li p strong {
        font-size: 14px;
    }
    #geocaches .start {
    width: 65%;
    height: 25px;
    margin-left: 25%;
    }
}

